@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My first .NET Core web API";
}
<h1>@ViewData["Title"]</h1>

<p>I'm building my first .NET Core web API!</p>

